<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="/static/css/boogle_style.css">
</head>
<body>

<div class="header">

    <h1>
        <span class="g1">
        G
        </span>
        <span class="o1">
        o
        </span>
        <span class="o2">
        o
        </span>
        <span class="g1">
        g
        </span>
        <span class="l1">
        l
        </span>
        <span class="e1">
        e
        </span>

    </h1>


</div>

    <div class="main">

        <input type="text">
        <button> Suche</button>
    </div>



</body>
</html>