<!DOCTYPE html>

<html>
    <head>
        <title>Anna Banana</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/fakebook_style.css">

    </head>
    <body bgcolor="#88ceff">
    <h1>Fakebook</h1>
    <img src="https://miro.medium.com/max/796/1*bjR-OSmJuqjEThMAV1K7BQ.png" height="200" width="200" class="image">

        <h2>Anna Banana</h2>
    <button>like</button>
    <img src="https://psmag.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_600/MTI3NTgxNjIxNTQ0MDY1NTAy/facebook-like.webp" height="25" width="30" class="button">
    or  <button>like</button>
    <img src="https://psmag.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_600/MTI3NTgxNjIxNTQ0MDY1NTAy/facebook-like.webp" height="25" width="30" class="button"> <br>

    <br>

    <strong>Geschlecht:</strong> halb Mensch halb Banane <br>
    <strong>Geburtsdatum:</strong> 10.10.1991 <br>
    <strong>Hobbies:</strong> dancin' <br>
    <strong>Lieblingsfarbe:</strong> gelb <br>

    </body>
</html>
